<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Form Assignment</title>
    </head>
    <body>
        <h1>Register Here Please!</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for messages in messages %}
                    <p> {{messages}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form action="/process" method="post">
            E-mail: <input type="email" name="email">
            First Name: <input type="text" name="first">
            Last Name: <input type="text" name="last">
            Password: <input type="password" name="password">
            Confirm Password: <input type="password" name="confirm">
            <input type="submit" name="submit" value="SUBMIT">
        </form>
    </body>
</html>