<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold Assignment</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>Your Gold: {{session['total_gold']}}</h1>
        
        <div id="container">
            <div class="buildings">
                <h2>Farm</h2>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            
            <div class="buildings">
                <h2>Cave</h2>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            
            <div class="buildings">
                <h2>House</h2>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            
            <div class="buildings">
                <h2>Casino</h2>
                <p>(earns/takes 0-50 golds</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
        </div>
        <h4>Activities:</h4>
        <div id="activity">
            {% for data in session['activity'] %}
            <li>{{data}}</li>
            {% endfor %}
        </div>
        
    </body>
</html>