<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Assignment</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/survey_style.css')}}">
    </head>
    <body>
        <div id="wrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action='/result' method='post'>
                Your Name: <input type='text' name='name'><br><br>
                Dojo Location: <select name='location' id="location">
                    <option value='San Jose'>San Jose</option>
                    <option value='Seattle'>Seattle</option>
                    <option value='Dallas'>Dallas</option>
                    <option value='Chicago'>Chicago</option>
                </select><br><br>
                Favorite Language: <select name='language' id="language">
                    <option value='Python'>Python</option>
                    <option value='MEAN'>MEAN</option>
                    <option value='Ruby'>Ruby on Rails</option>
                    <option value='C#'>C#</option>
                    <option value='IOS'>IOS</option>
                </select>
                <p>Comment (optional):</p>
                <textarea name='comment'></textarea>
                <input id="button" type="submit" name="submit" value="Button">
            </form>
        </div>
    </body>
</html>