#container {
    height: auto;
    width: auto;
}

.buildings {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
}

.buildings h2, p {
    text-align: center;
}

input {
    margin-left: 60px;
}

#activity {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
}

li {
    list-style-type: none;
}